body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
   flex:1; 
}
.navbar{
    height: 5rem;
    background-color: rgb(209, 189, 189);
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
   
}
.f-info-socials,.f-info-links,.f-content{
    width:  100%;
    margin-top: 1rem;
    
}
.f-info-socials i{
    
   margin-right: 1rem;
   font-size: 1.5rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color:#ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly ;
}

.listing-card{
    border:none !important ;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100 !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0px !important;
}
.card-text p{
    font-weight: 400;
}
.listing-links{
   text-decoration: none; 
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: aliceblue;
}
.add-btn{
    background-color: rgb(49, 197, 23) !important;
    border-style: none !important;
}
.edit-btn{
    background-color: rgb(49, 197, 23) !important;
    border-style: none !important;
}

/* show page */
.show-img{
    height: 30vh;
}
